@charset "utf-8";
.wrap{
    width: 100%;
}
/* container */
.container{
    width: 100%;
    max-width: 1476px;
    height: inherit;
    margin: auto;
    /* background-color: rgba(0, 0, 0, 0.2); */
    position: relative;
}
/* header */
header{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    padding: 29px 152px;
    position: fixed;
    top: 0;
    z-index: 1;
}
header .logo{
    width: 100%;
    height: 21px;
    background: url(../images/main_logo.svg) no-repeat;
}
header nav{
    width: 100%;
    max-width: 600px;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}
header .gnb{
    display: flex;
    
    
}
header nav .global_icon{
    display: inline-block;
    margin-top: -2px;
}
header .gnb a{
    color: #fff;
    padding: 0 24px;
}
header .global_icon{
    width:24px;
    height: 24px;
    background: url(../images/global_icon.png) no-repeat center/cover;
}


/* main */
main .main_banner{
    width: 100%;
    height: 100vh;
    background: url(../images/slide_img05.png) no-repeat center center/cover;
    margin: auto;
}
main .main_banner_inner{
    position: absolute;
    top: 50%;
    /* transform: translateY(-); */
    padding: 0 150px;
}
main .main_banner h3{
    font-size: 48px;
    line-height: 68px;
    color: #fff;
    
    width: 100%;
    
    
}
main .main_btn{
    color: #fff;
}
main .main_btn_inner{
    display: inline-block;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    padding: 0 33px;
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    margin: auto;
    margin-top: 30px;
    
    
    
}
/* main -content1 */
.content1 .container{
    text-align: center;
    margin: 110px auto;
}
.content1 h3{
    
    color: #aaa;
    margin-bottom: 48px;
    line-height: 60px;
}
.content1 .introduce_inner1{
    padding: 110px 90px 0;
}
main .block_black{
    color: black;
    display: inline-block;
}
.content1 .introduce_inner1 .introduce_btn {
    display: inline-block;
    height: 54px;
    line-height: 54px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    padding: 0 40px;
    border-radius: 100px;
}
.content1 .introduce_inner2{
    max-width: 1200px;
    margin: 50px auto;
}
.content1 .container img{
    width: 842px;
    height: 304px;
}
.content2{
    background-color: #f9f9f9;
}
.content2 .container2{
    padding: 0 90px;
    height: 850px;
}
.content2 .container{
    display: flex;
    
}
.content2 .service_left{
    position: relative;
    padding: 194px 0;
    width: 50%;
}
.content2 ul.gallery_1{
    margin-right: 30px;
}
.content2 .gallery_1 li, .gallery_2 li{
    width: 240px;
    margin-bottom: 30px;
    
}
.content2 ul.gallery_2{
    margin-top: 160px;
}
.content2 .service_right{
    display: flex;
    overflow: hidden;
    margin-left: 100px;
}
.content2 .service_right .gallery img{
    width: 240px;
    height: 320px;
}
.content2 h3{
    color: #aaa;
}
.content2 .container .service_text{
    line-height: 60px;
    margin-bottom: 48px;
    
}
.content2 .container .service_img{
    width: 300px;
    height: 100%;
    background-color: rgb(233, 94, 238);
    position: absolute;
    left: 60%;
}

.content2 .service_btn{
    display: inline-block;
    height: 54px;
    line-height: 54px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    padding: 0 40px;
    border-radius: 100px;
}
.content3 .new_list1{
   
    color: #1e1e1e;
}
.content3 .container3{
    padding: 202px 90px 120px;
}
.content3 .news_text{
    color: #aaa;
    line-height: 60px;
    width: 800px;
    height: 150px;
    
}
.content3 .news_list{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}

.content3 .new_list1 span{
    font-size: 16px;
    line-height: 22px;
    color: #aaa;
    font-weight: 500;
}
.content3 .news_list p{
    margin: 20px 0;
    font-size: 18px;
    line-height: 24px;
}
.content3 .news_inner1 ul li{
    text-align: left;
    width: calc(25% - 24px);
}
.content3 .news_list img{
    width: 300px;
    height: 169px;
    border-radius: 24px;
}
.content3 .news_btn_inner{
    text-align: center;
}
.content3 .news_btn{
    display: inline-block;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    padding: 0 33px;
    border: 1px solid black;
    border-radius: 100px;
    margin: auto;
    color: black;
}
.content3 .news_inner2{
    display: flex;
    
    margin: 50px auto;
    margin-bottom: 0;
    
}
.partnership{
    background-color: #117ce9;
    color: #fff;
    position: relative;
    padding: 20px 28px 25px 24px;
    flex-grow: 1;
    margin-right: 32px;
    border-radius: 12px;
}
.partnership strong{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}

.partnership p{
    font-size: 20px;
    line-height: 30px;
}
.partnership_btn{
    position: absolute;
    height: 48px;
    line-height: 48px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    padding: 0 33px;
    border-radius: 100px;
    position: absolute;
    bottom: 27px;
    right: 29px;
}
.career{
    background-color: #07b4eb;
    color: #fff;
    position: relative;
    padding: 20px 28px 25px 24px;
    flex-grow: 1;
    border-radius: 12px;
    
}
.career strong{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}
.career p{
    font-size: 20px;
    line-height: 30px;
}
.career_btn{
    display: inline-block;
    height: 48px;
    line-height: 48px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    padding: 0 33px;
    border-radius: 100px;
    position: absolute;
    bottom: 27px;
    right: 29px;
}


/* footer */
footer{
    background-color: #f9f9f9;
}
footer .container{
    display: flex;
    width: 1476px;
    
    margin: 0 auto;
    padding: 50px 90px;
}
footer .footer_left{
    width: 1140px;
    height: 100%;
    
}
footer .footer_left a{
    color: #aaa;
}
footer .footer_left .footer_logo img{
    width: 180px;
}
footer .footer_left .address{
    
    font-size: 12px;
    line-height: 20px;
    color: #999;
    margin: 36px 0 23px;
}
footer .address p.corp{
    margin-top: 4px;
    font-size: 14px;
    font-weight: 500;
}
footer .footer_left .footer_inner{
    display: flex;
    
}
footer .footer_left .footer_inner .link{
    display: flex;
    
    font-size: 14px;
    line-height: 1;
    margin-right: 9%;
    margin-bottom: 10px;
}
.link{
    padding: 0;
}
footer .footer_left .link li:nth-child(2){
    margin-left: 19px;
}
footer .footer_left .footer_inner .sns{
    display: flex;
    font-size: 14px;
    line-height: 1;
    margin-right: 9%;
    margin-top: -12px;
    
}
footer .footer_left .footer_inner .sns li{
    margin: 12px;
}
footer .family_btn{
    background-color: #999;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 42px 0 14px;
    font-size: 13px;
    position: relative;
    border-radius: 5px;
    border-color: transparent;
}
footer .family_btn:after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/footer_plus.png) no-repeat;
    position: absolute;
    top: 13px;
    right: 14px;
}
/* popup */
.popup{
    position: fixed;
    
    background-color: rgba(57, 167, 130, 0.7);
    color: #fff;
    font-size: 24px;
    top: 30%;
    left: 60%;
    z-index: 999;
    padding: 10px;
}